<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            MeetMe
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Начало</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin') }}">Админ панел</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                    <li class="nav-item d-flex align-items-center me-3 text-light">
                        Здравей, <span class="fw-bold ms-1">{{ app.user.email }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="{{ path('app_logout') }}">Изход</a>
                    </li>
                {% else %}
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-light" href="{{ path('app_login') }}">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{{ path('app_register') }}">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
